// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  background-color: lightslategray;
}

.notice {
  font-family: sans-serif;
  font-size: 25px;
  background-color: lightgrey;
  margin: 0px;
  padding: 10px;
}

.alert {
  margin: 0;
}

.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.new-post {
  border-radius: 10px;
  color: white;
  text-align: center;
  min-width: 400px;
  max-width: 450px;
  min-height: 250px;
  background-color: rgba(38, 65, 65, 0.9);
  font-size: 20px;
  margin: 20px;
}

.form-label {
  font-family: sans-serif;
  font-size: 30px;
}

.text-area {
font-size: 15px;
 resize: none;
 min-width: 375px;
 min-height: 200px;
}

.submit-button {
  margin-bottom: 7px;
  font-family: sans-serif;
  font-size: 20px;
  min-width: 125px;
  max-width: 150px;
  min-height: 30px;
}

.go-back {
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.go-back:hover {
  color: white;
}

.top-bar {
 margin: 0;
 padding: 10px;
 background-color: rgb(53, 132, 168);
 display: flex;
 outline: solid 1px darkslategray;
}

.top-left-buttons {
 color: white;
 padding-left: 5px;
 display: inline-block;
 margin-right: auto;
}

.top-buttons {
 text-decoration: none;
 font-size: 20px;
}

.top-buttons:visited {
 color: white;
}

.top-buttons:active {
 color: darkslategray;
}

.top-right-buttons {
 padding-right: 5px;
 display: inline-block;
 margin-left: auto;
}

.posts-container {
 margin: 20px;
 overflow: hidden;
 min-width: 300px;
 max-width: 600px;
 min-height: 175px;
 border-radius: 10px;
 box-shadow: 2px 2px rgb(34, 54, 54);
}

.user-name-container {
 display: flex;
 justify-content: space-between;
 font-size: 20px;
 padding-left: 10px;
 background-color: darkseagreen;
 background-size: 30%;
}

.created-at {
 margin-top: 3px;
 font-size: 15px;
 padding-right: 10px;
}

.post-body {
 font-size: 20px;
 word-wrap: break-word;
 text-align: left;
 color: white;
 padding: 10px;
 background-color: rgba(38, 65, 65, 0.9);
 min-height: 175px;
}
